/* Підключення шрифтів */
@font-face {
    font-family: 'e-Ukraine-Bold';
    src: url('fonts/e-Ukraine-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'e-Ukraine-Light';
    src: url('fonts/e-Ukraine-Light.otf') format('opentype');
}

@font-face {
    font-family: 'e-Ukraine-Medium';
    src: url('fonts/e-Ukraine-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'e-Ukraine-Regular';
    src: url('fonts/e-Ukraine-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'e-Ukraine-Thin';
    src: url('fonts/e-Ukraine-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'e-Ukraine-UltraLight';
    src: url('fonts/e-Ukraine-UltraLight.otf') format('opentype');
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttonsDIV {
    width: 98vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    height: 8vh;
    align-items: center;
}

#buttonsDIV button {
    width: 8vw;
    height: 4vh;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 8px;
    font-family: 'e-Ukraine-Bold', sans-serif;
}

#buttonsDIV button:hover {
    background-color: #AEC1FF;
}

#buttonsDIV button.active {
    background-color: #7B95EC;
    color: white;
}

iframe {
    width: 98vw;
    height: 90vh;
    border: none;
}

.console-div {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
}

.text-description {
    width: 100%;
    text-align: center;
    font-family: 'e-Ukraine-Bold', sans-serif;
    font-size: 20px;
}

textarea {
    width: 80%;
    height: 32vh;
    border-radius: 8px;
    padding: 16px;
    font-size: 20px;
    background-color: #2C2C2C;
    color: #FFFFFF;
    resize: none;
}

.mini-buttons-div {
    display: flex;
    flex-direction: row;
    width: 48%;
    justify-content: space-around;
}

.mini-buttons-div button {
    width: 48%;
    height: 4vh;
    background-color: #8BE0D1;
    border: 2px solid black;
    border-radius: 8px;
    font-family: 'e-Ukraine-Bold', sans-serif;
}

.mini-buttons-div button:hover {
    background-color: #4aaf9c;
    color: #fff;
}

#output {
    width: 80%;
}